![](images/header.png)

---
Data yang tersimpan didalam database MySQL mmepunyai bentuk yang serupa dengan <i>data.frame</i>. MFM kali ini akan membahas penggunaan RDBMS MySQL dengan R. Untuk databasenya sendiri terdiri sembilan tabel yang saling terelasi, dihosting secara online di http://freemysqlhosting.net dan tiap tabel sudah memiliki key masing-masing baik Primary Key atau Foreign Key. Dibawah sudah dilampirkan skema rancangan database <b>sql12258414</b>.

Library atau package yang akan digunakan adalah RMySQL yang memungkinkan kita menuliskan SQL query dan mengeksekusinya dengan R. Adapun RMySQL tergantung/mempunyai dependensi dengan library DBI.

---

### Database "sql12259976"

![database_relationship](images/qqq-1.png)

---

### <i>Load</i> library RMySQL

In [3]:
# install DBI package for R
install.packages("DBI")
# ----------------------------
# install RMySQL package for R
install.packages("RMySQL")
library(RMySQL)

Warning message:
"unable to access index for repository http://www.stats.ox.ac.uk/pub/RWin/bin/windows/contrib/3.5:
  cannot open URL 'http://www.stats.ox.ac.uk/pub/RWin/bin/windows/contrib/3.5/PACKAGES'"Warning message:
"package 'DBI' is in use and will not be installed"Warning message:
"unable to access index for repository http://www.stats.ox.ac.uk/pub/RWin/bin/windows/contrib/3.5:
  cannot open URL 'http://www.stats.ox.ac.uk/pub/RWin/bin/windows/contrib/3.5/PACKAGES'"Warning message:
"package 'RMySQL' is in use and will not be installed"

### Buat koneksi dengan database sql12259976

In [4]:
mydb = dbConnect(MySQL(), 
    user='sql12259976', 
    password='9ap7vT4XSb', 
    dbname='sql12259976', 
    host='sql12.freemysqlhosting.net')

### Tampilkan tabel yang terdapat didalam database "sql12259976"

In [5]:
dbListTables(mydb)

[1] "actor"           "director"        "genres"          "movie"
[5] "movie_cast"      "movie_direction" "movie_genres"    "rating"
[9] "reviewer"

### Tampilkan field yang terdapat didalam tabel "movie"

In [14]:
dbListFields(mydb, 'movie')

[1] "act_id"     "act_fname"  "act_lname"  "act_gender"

---
## SELECT
---

### Select basic - Tampilkan 6 data teratas dari tabel "movie"

In [7]:
str.query = dbSendQuery(mydb, "SELECT * FROM movie")
movie.data = fetch(str.query, n=-1)
head(movie.data)

  mov_id mov_title          mov_year mov_time mov_lang mov_dt_rel
1 901    Vertigo            1958     128      English  1958-08-24
2 902    The Innocents      1961     100      English  1962-02-19
3 903    Lawrence of Arabia 1962     216      English  1962-12-11
4 904    The Deer Hunter    1978     183      English  1979-03-08
5 905    Amadeus            1984     160      English  1985-01-07
6 906    Blade Runner       1982     117      English  1982-09-09
  mov_rel_country
1 UK
2 SW
3 UK
4 UK
5 UK
6 UK

![select 1](images/select1.png)

### Select basic - Tampilkan 6 judul film teratas beserta negara rilisnya

In [8]:
str.query = dbSendQuery(mydb, "SELECT mov_title, mov_rel_country FROM movie")
movie.data = fetch(str.query, n=-1)
head(movie.data)

  mov_title          mov_rel_country
1 Vertigo            UK
2 The Innocents      SW
3 Lawrence of Arabia UK
4 The Deer Hunter    UK
5 Amadeus            UK
6 Blade Runner       UK

![select 2](images/select2.png)

### Select basic - Tampilkan 6 data teratas dari tabel "actor"

In [9]:
str.query = dbSendQuery(mydb, "SELECT act_fname, act_lname FROM actor")
movie.data = fetch(str.query, n=-1)
head(movie.data)

  act_fname act_lname
1 James     Stewart
2 Deborah   Kerr
3 Peter     OToole
4 Robert    De Niro
5 F. Murray Abraham
6 Harrison  Ford

![select 3](images/select3.png)

### Select basic - Tampilkan nama lengkap para aktor yang mempunyai nama belakang yang berawalan huruf "A"

In [13]:
str.query = dbSendQuery(mydb, "SELECT CONCAT(act_fname,' ',act_lname) AS full_name FROM actor WHERE act_lname LIKE 'A%' ")
movie.data = fetch(str.query, n=-1)
head(movie.data)
#count it

  full_name
1 F. Murray Abraham
2 Woody Allen
3 David Aston
4 Ali Astin

![select 4](images/select4.png)

### Select basic - Tampilkan nama lengkap aktor perempuan yang mempunyai nama belakang yang berawalan huruf "A"

In [15]:
str.query = dbSendQuery(mydb, "SELECT CONCAT(act_fname,' ',act_lname) FROM actor WHERE act_lname LIKE 'A%' AND act_gender = 'f' ")
movie.data = fetch(str.query, n=-1)
head(movie.data)

  CONCAT(act_fname,' ',act_lname)
1 Ali Astin

![select 5](images/select5.png)

### Select basic - Hitung banyaknya film yang dirilis sebelum tahun 1990

In [16]:
str.query = dbSendQuery(mydb, "SELECT COUNT(*) FROM movie WHERE mov_year < 1990")
movie.data = fetch(str.query, n=-1)
head(movie.data)

  COUNT(*)
1 12

![select 6](images/select6.png)

### Select basic - Tampilkan film yang dirilis sebelum film "Blade Runner"

In [21]:
# NOTES
# 1. Gunakan  sub-query
# 2. Lakukan tanpa langsung menuliskan tahun rilis Blade Runner
str.query = dbSendQuery(mydb, "SELECT * FROM `movie` WHERE mov_year < (SELECT mov_year from movie WHERE mov_title = 'Blade Runner')")
movie.data = fetch(str.query, n=-1)
head(movie.data)

  mov_id mov_title          mov_year mov_time mov_lang mov_dt_rel
1 901    Vertigo            1958     128      English  1958-08-24
2 902    The Innocents      1961     100      English  1962-02-19
3 903    Lawrence of Arabia 1962     216      English  1962-12-11
4 904    The Deer Hunter    1978     183      English  1979-03-08
5 909    Chinatown          1974     130      English  1974-08-09
6 911    Annie Hall         1977      93      English  1977-04-20
  mov_rel_country
1 UK
2 SW
3 UK
4 UK
5 UK
6 USA

![select 7](images/select7.png)

## JOIN
---

![joins](images/joins.png)

### Step up - Inner join

In [22]:
str.query = dbSendQuery(mydb, "SELECT 
                                    * 
                                FROM 
                                    `director` a 
                                JOIN movie_direction b ON a.dir_id = b.dir_id ")
movie.data = fetch(str.query, n=-1)
movie.data

   dir_id dir_fname   dir_lname       dir_id mov_id
1  304    Mel         Gibson          304    925
2  306    Jack        Clayton         306    903
3  308    Michael     Cimino          308    904
4  309    Hayao       Miyazaki        309    912
5  309    Hayao       Miyazaki        309    927
6  310    Milos       Forman          310    905
7  311    Akira       Kurosawa        311    926
8  312    Ridley      Scott           312    906
9  313    James       Cameron         313    915
10 313    James       Cameron         313    922
11 313    James       Cameron         313    924
12 314    Stanley     Kubrick         314    907
13 315    Kevin       Spacey          315    923
14 316    Bryan       Singer          316    908
15 317    Roman       Polanski        317    909
16 318    Danny       Boyle           318    918
17 319    Paul        Thomas Anderson 319    919
18 320    Christopher Nolan           320    919
19 321    Woody       Allen           321    911
20 322    Frank       Darabont        322    913
21 323    Sam         Mendes          323    914
22 324    Gus         Van Sant        324    916
23 325    John        Boorman         325    917

### Step up - Left join

In [23]:
str.query = dbSendQuery(mydb, "SELECT 
                                    * 
                                FROM 
                                    `director` a 
                                LEFT JOIN movie_direction b ON a.dir_id = b.dir_id ")
movie.data = fetch(str.query, n=-1)
movie.data

   dir_id dir_fname   dir_lname       dir_id mov_id
1  303    Alfred      Hitchcock        NA     NA
2  304    Mel         Gibson          304    925
3  305    David       Lean             NA     NA
4  306    Jack        Clayton         306    903
5  307    Robert      Zemeckis         NA     NA
6  308    Michael     Cimino          308    904
7  309    Hayao       Miyazaki        309    912
8  309    Hayao       Miyazaki        309    927
9  310    Milos       Forman          310    905
10 311    Akira       Kurosawa        311    926
11 312    Ridley      Scott           312    906
12 313    James       Cameron         313    915
13 313    James       Cameron         313    922
14 313    James       Cameron         313    924
15 314    Stanley     Kubrick         314    907
16 315    Kevin       Spacey          315    923
17 316    Bryan       Singer          316    908
18 317    Roman       Polanski        317    909
19 318    Danny       Boyle           318    918
20 319    Paul        Thomas Anderson 319    919
21 320    Christopher Nolan           320    919
22 321    Woody       Allen           321    911
23 322    Frank       Darabont        322    913
24 323    Sam         Mendes          323    914
25 324    Gus         Van Sant        324    916
26 325    John        Boorman         325    917

### Step up - Right join

In [24]:
str.query = dbSendQuery(mydb, "SELECT 
                                    * 
                                FROM 
                                    movie_direction b
                                RIGHT JOIN `director` a  ON b.dir_id = a.dir_id ")
movie.data = fetch(str.query, n=-1)
movie.data

   dir_id mov_id dir_id dir_fname   dir_lname
1   NA     NA    303    Alfred      Hitchcock
2  304    925    304    Mel         Gibson
3   NA     NA    305    David       Lean
4  306    903    306    Jack        Clayton
5   NA     NA    307    Robert      Zemeckis
6  308    904    308    Michael     Cimino
7  309    912    309    Hayao       Miyazaki
8  309    927    309    Hayao       Miyazaki
9  310    905    310    Milos       Forman
10 311    926    311    Akira       Kurosawa
11 312    906    312    Ridley      Scott
12 313    915    313    James       Cameron
13 313    922    313    James       Cameron
14 313    924    313    James       Cameron
15 314    907    314    Stanley     Kubrick
16 315    923    315    Kevin       Spacey
17 316    908    316    Bryan       Singer
18 317    909    317    Roman       Polanski
19 318    918    318    Danny       Boyle
20 319    919    319    Paul        Thomas Anderson
21 320    919    320    Christopher Nolan
22 321    911    321    Woody       Allen
23 322    913    322    Frank       Darabont
24 323    914    323    Sam         Mendes
25 324    916    324    Gus         Van Sant
26 325    917    325    John        Boorman

### Step up - Tampilkan nama sutradara beserta dengan film yang disutradarainya

In [26]:
str.query = dbSendQuery(mydb, "SELECT 
                                    CONCAT(a.dir_fname,' ',a.dir_lname) AS 'Full Name', c.mov_title AS 'Movie Title' 
                                FROM 
                                    `director` a 
                                JOIN movie_direction b ON a.dir_id = b.dir_id 
                                JOIN movie c ON b.mov_id = c.mov_id")
movie.data = fetch(str.query, n=-1)
movie.data

   Full Name            Movie Title
1  Mel Gibson           Braveheart
2  Jack Clayton         Lawrence of Arabia
3  Michael Cimino       The Deer Hunter
4  Hayao Miyazaki       Princess Mononoke
5  Hayao Miyazaki       Spirited Away
6  Milos Forman         Amadeus
7  Akira Kurosawa       Seven Samurai
8  Ridley Scott         Blade Runner
9  James Cameron        Titanic
10 James Cameron        Aliens
11 James Cameron        Avatar
12 Stanley Kubrick      Eyes Wide Shut
13 Kevin Spacey         Beyond the Sea
14 Bryan Singer         The Usual Suspects
15 Roman Polanski       Chinatown
16 Danny Boyle          Trainspotting
17 Paul Thomas Anderson The Prestige
18 Christopher Nolan    The Prestige
19 Woody Allen          Annie Hall
20 Frank Darabont       The Shawshank Redemption
21 Sam Mendes           American Beauty
22 Gus Van Sant         Good Will Hunting
23 John Boorman         Deliverance

![stepup 1](images/stepup1.png)

### Step up - Tampilkan semua judul film beserta ratingnya

In [33]:
str.query = dbSendQuery(mydb, "SELECT 
                                    a.mov_title, b.rev_stars,
                                    CASE 
                                        WHEN b.rev_stars < 5 THEN 'Under rated'
                                        WHEN b.rev_stars >= 5 AND b.rev_stars <= 8 THEN 'Good Movie'
                                        WHEN b.rev_stars > 8 THEN 'A Blockbuster!' 
                                    END AS 'Comment'
                                FROM 
                                    movie a
                                LEFT JOIN rating b ON a.mov_id = b.mov_id")
movie.data = fetch(str.query, n=-1)
head(movie.data)

  mov_title          rev_stars Comment
1 Vertigo             8        Good Movie
2 The Innocents       8        Good Movie
3 Lawrence of Arabia  8        Good Movie
4 The Deer Hunter    NA        NA
5 Amadeus            NA        NA
6 Blade Runner        8        Good Movie

![stepup 2](images/stepup2.png)

### Step up - Susun rating dari yang tertinggi ke terendah dari hasil query sebelumnya

In [35]:
str.query = dbSendQuery(mydb, "SELECT 
                                    mov_title, rev_stars,
                                    CASE 
                                        WHEN b.rev_stars < 5 THEN 'Under rated'
                                        WHEN b.rev_stars BETWEEN 5 AND 8 THEN 'Good movie'
                                        WHEN b.rev_stars > 8 THEN 'A Blockbuster!' 
                                    END AS 'Comment'
                                FROM 
                                    movie a 
                                LEFT JOIN rating b ON a.mov_id = b.mov_id
                                ORDER BY rev_stars DESC")
movie.data = fetch(str.query, n=-1)
movie.data

   mov_title                rev_stars Comment
1  The Usual Suspects        9        A Blockbuster!
2  Lawrence of Arabia        8        Good movie
3  Blade Runner              8        Good movie
4  Aliens                    8        Good movie
5  Braveheart                8        Good movie
6  Princess Mononoke         8        Good movie
7  Titanic                   8        Good movie
8  The Innocents             8        Good movie
9  Slumdog Millionaire       8        Good movie
10 Annie Hall                8        Good movie
11 Vertigo                   8        Good movie
12 Donnie Darko              8        Good movie
13 Avatar                    7        Good movie
14 American Beauty           7        Good movie
15 Beyond the Sea            7        Good movie
16 Good Will Hunting         4        Under rated
17 Boogie Nights             3        Under rated
18 Chinatown                 0        Under rated
19 Trainspotting             0        Under rated
20 Seven Samurai            NA        NA
21 The Shawshank Redemption NA        NA
22 The Prestige             NA        NA
23 Back to the Future       NA        NA
24 Amadeus                  NA        NA
25 Spirited Away            NA        NA
26 Deliverance              NA        NA
27 The Deer Hunter          NA        NA
28 Eyes Wide Shut           NA        NA

![stepup3](images/stepup3.png)

### Step up - Hitung jumlah komentar

In [36]:
str.query = dbSendQuery(mydb, "SELECT 
                                    CASE 
                                        WHEN b.rev_stars < 5 THEN 'Under rated'
                                        WHEN b.rev_stars BETWEEN 5 AND 8 THEN 'Good movie'
                                        WHEN b.rev_stars > 8 THEN 'A Blockbuster!' 
                                    END AS 'Comment',
                                    COUNT(*) AS Counter
                                FROM 
                                    movie a
                                LEFT JOIN rating b ON a.mov_id = b.mov_id
                                GROUP BY Comment
                                ORDER BY Counter DESC")
movie.data = fetch(str.query, n=-1)
movie.data

  Comment        Counter
1 Good movie     14
2 NA              9
3 Under rated     4
4 A Blockbuster!  1

![stepup 4](images/stepup4.png)

### Step up - Join dengan menggunakan <i>WHERE</i>

In [37]:
str.query = dbSendQuery(mydb, "SELECT 
                                    CASE 
                                        WHEN b.rev_stars < 5 THEN 'Under rated'
                                        WHEN b.rev_stars >= 5 AND b.rev_stars <= 8 THEN 'Good Movie'
                                        WHEN b.rev_stars > 8 THEN 'A Blockbuster!' 
                                    END AS 'Comment',
                                    COUNT(*) AS Counter
                                FROM 
                                    movie a, rating b
                                WHERE
                                    a.mov_id = b.mov_id
                                GROUP BY Comment
                                ORDER BY Counter DESC")
movie.data = fetch(str.query, n=-1)
movie.data

  Comment        Counter
1 Good Movie     14
2 Under rated     4
3 A Blockbuster!  1

### Step up - UNION

In [38]:
str.query = dbSendQuery(mydb, "SELECT 
                                    CONCAT(act_fname,' ',act_lname) AS 'Full Name',
                                    'Actor' AS Role
                                FROM 
                                    actor
                                UNION
                                SELECT 
                                    CONCAT(dir_fname,' ',dir_lname) AS 'Full Name',
                                    'Director' AS Role
                                FROM 
                                    director")
movie.data = fetch(str.query, n=-1)
movie.data

   Full Name            Role
1  James Stewart        Actor
2  Deborah Kerr         Actor
3  Peter OToole         Actor
4  Robert De Niro       Actor
5  F. Murray Abraham    Actor
6  Harrison Ford        Actor
7  Nicole Kidman        Actor
8  Stephen Baldwin      Actor
9  Jack Nicholson       Actor
10 Mark Wahlberg        Actor
11 Woody Allen          Actor
12 Claire Danes         Actor
13 Tim Robbins          Actor
14 Kevin Spacey         Actor
15 Kate Winslet         Actor
16 Robin Williams       Actor
17 Jon Voight           Actor
18 Ewan McGregor        Actor
19 Christian Bale       Actor
20 Maggie Gyllenhaal    Actor
21 Dev Patel            Actor
22 Sigourney Weaver     Actor
23 David Aston          Actor
24 Ali Astin            Actor
25 Alfred Hitchcock     Director
26 Mel Gibson           Director
27 David Lean           Director
28 Jack Clayton         Director
29 Robert Zemeckis      Director
30 Michael Cimino       Director
31 Hayao Miyazaki       Director
32 Milos Forman         Director
33 Akira Kurosawa       Director
34 Ridley Scott         Director
35 James Cameron        Director
36 Stanley Kubrick      Director
37 Kevin Spacey         Director
38 Bryan Singer         Director
39 Roman Polanski       Director
40 Danny Boyle          Director
41 Paul Thomas Anderson Director
42 Christopher Nolan    Director
43 Woody Allen          Director
44 Frank Darabont       Director
45 Sam Mendes           Director
46 Gus Van Sant         Director
47 John Boorman         Director